{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'native/img/me%401x.png' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{% static 'native/css/my-doctors-1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'native/css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'native/css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="my-doctors-1" />
    <div class="container-center-horizontal">
      <div class="my-doctors-1 screen">
        <div class="add-doctor-detail-C61RwL">Add Doctor detail</div>
        <div class="icon-feather-plus-C61RwL">
          <img class="path-97-RHwCW2" src="{% static 'native/img/path-97-1@1x.png' %}" alt="Path 97" />
          <img class="path-98-RHwCW2" src="{% static 'native/img/path-98-1@1x.png' %}" alt="Path 98" />
        </div>
   
        <a target="_self" href="/app/my-doctors">
          <div class="icon-feather-arrow-left-C61RwL">
            <img class="path-120-d9Ofuj" src="{% static 'native/img/path-112@1x.png' %}" alt="Path 120" />
            <img class="path-121-d9Ofuj" src="{% static 'native/img/path-113@1x.png' %}" alt="Path 121" /></div
        ></a>
        
        <div  class="doctor-name-C61RwL">
         <input class="doname" type="text" placeholder="Search for doctor name" /> 
        </div>
       <!-- gggggg -->
        
        <div class="advice-C61RwL">
          <div class="doname1" type="card" style="background-color:white;border-radius: 13px;position: fixed;">
            <img class="doctor-images1" src="https://previews.123rf.com/images/indomercy/indomercy1501/indomercy150100019/35500150-doctor-cartoon-illustration.jpg" alt="Path 121" />
            <p style="font-size: 12px;margin-left: 145px;">Name-Dr Aditys singh</p>
            <p2 style="font-size: 12px;margin-left: 145px;">Experience-5 years</p2>
            <br><br>
            <p3 style="font-size: 12px;margin-left: 145px;">Specialist-xyz</p3>
            
          </div>
        
        </div>
        <!-- gggggg -->
        <div class="list200">
          <div class="doname1" type="card" style="background-color:white;border-radius: 13px;">
            <img class="doctor-images2" src="https://img.freepik.com/premium-vector/cartoon-doctor-wear-surgical-medical-mask-preparing-perform_338059-71.jpg" alt="Path 121" />
            <p style="font-size: 12px;margin-left: 145px;">Name-Dr Arjun singh</p>
            <p2 style="font-size: 12px;margin-left: 145px;">Experience-3 years</p2>
            <br><br>
            <p3 style="font-size: 12px;margin-left: 145px;">Specialist-xyz</p3>
          </div>
        
        </div>
        <!-- ggggggg -->
        <div class="list201">
          <div class="doname1" type="card" style="background-color:white;border-radius: 13px;">
            <img class="doctor-images3" src="https://img.freepik.com/premium-vector/illustration-cartoon-character-female-doctor_82446-114.jpg?w=2000" alt="Path 121" />
            <p style="font-size: 12px;margin-left: 145px;">Name-Dr Aayushi </p>
            <p2 style="font-size: 12px;margin-left: 145px;">Experience-8 years</p2>
            <br><br>
            <p3 style="font-size: 12px;margin-left: 145px;">Specialist-xyz</p3>
          </div>
        
        </div>
         <!-- ggggggg -->
        <div class="list202">
          <div class="doname1" type="card" style="background-color:white;border-radius: 13px;">
            <img class="doctor-images4" src="https://i.pinimg.com/736x/0b/2d/2a/0b2d2a9fff5723086079894ccbd4e8f0.jpg" alt="Path 121" />
            <p style="font-size: 12px;margin-left: 145px;">Name-Dr priya</p>
            <p2 style="font-size: 12px;margin-left: 145px;">Experience-4 years</p2>
            <br><br>
            <p3 style="font-size: 12px;margin-left: 145px;">Specialist-xyz</p3>
          </div>
        
        </div>

      </div>
    </div>
  </body>
</html>
