/* screen - iphone-xr-xs-max-11-1 */

.iphone-xr-xs-max-11-1 {
  background-color: var(--white);
  height: 749px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}

.iphone-xr-xs-max-11-1 .rectangle-86-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  height: 81px;
  left: 22px;
  position: absolute;
  top: 78px;
  width: 371px;
}

.iphone-xr-xs-max-11-1 .who-is-the-expert-assessment-for-C61RwL {
  background-color: transparent;
  color: var(--gravel);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 89px;
  white-space: nowrap;
  width: auto;
}

.iphone-xr-xs-max-11-1 .rectangle-87-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  height: 50px;
  left: 38px;
  position: absolute;
  top: 176px;
  width: 355px;
}

.iphone-xr-xs-max-11-1 .rectangle-88-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  height: 50px;
  left: 38px;
  position: absolute;
  top: 258px;
  width: 355px;
}

.iphone-xr-xs-max-11-1 .ripudaman-singh-C61RwL {
  background-color: transparent;
  color: var(--gravel);
  font-family: var(--font-family-poppins);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 186px;
  white-space: nowrap;
  width: auto;
}

.iphone-xr-xs-max-11-1 .create-new-profile-C61RwL {
  background-color: transparent;
  color: var(--gravel);
  font-family: var(--font-family-poppins);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 268px;
  white-space: nowrap;
  width: auto;
}

.iphone-xr-xs-max-11-1 .icon-feather-plus-C61RwL {
  background-color: transparent;
  height: 21px;
  left: 336px;
  position: absolute;
  top: 273px;
  width: 21px;
}

.iphone-xr-xs-max-11-1 .path-91-RHwCW2 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: calc(50.00% - 1px);
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.iphone-xr-xs-max-11-1 .path-92-RHwCW2 {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.iphone-xr-xs-max-11-1 .ellipse-17-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--royal-heath);
  border-radius: 15px;
  height: 30px;
  left: 332px;
  position: absolute;
  top: 186px;
  width: 30px;
}

.iphone-xr-xs-max-11-1 .ellipse-18-C61RwL {
  background-color: var(--royal-heath);
  border-radius: 7.5px;
  height: 15px;
  left: 339px;
  position: absolute;
  top: 194px;
  width: 15px;
}

.iphone-xr-xs-max-11-1 .rectangle-89-C61RwL {
  background-color: var(--royal-heath);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  height: 40px;
  left: 11px;
  position: absolute;
  top: 690px;
  width: 393px;
}

.iphone-xr-xs-max-11-1 .proceed-to-checkout-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 696px;
  white-space: nowrap;
  width: auto;
}

.iphone-xr-xs-max-11-1 .icon-feather-arrow-left-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 25px;
  position: absolute;
  top: 32px;
  width: 21px;
}

.iphone-xr-xs-max-11-1 .path-108-d9Ofuj {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.iphone-xr-xs-max-11-1 .path-109-d9Ofuj {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 13px;
}

.iphone-xr-xs-max-11-1 .headache-C61RwL {
  background-color: transparent;
  height: 225px;
  left: -221px;
  object-fit: cover;
  position: absolute;
  top: 305px;
  width: 225px;
}
