/* screen - notification */

.notification {
  background-color: var(--white);
  height: 735px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 428px;
}

.notification .notification-C61RwL {
  background-color: transparent;
  height: 666px;
  left: 21px;
  position: relative;
  top: 24px;
  width: 385px;
}

.notification .n-otifications-dJTreL {
  background-color: transparent;
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 37px;
  left: calc(47.58% - 75px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 158px;
}

.notification .rectangle-90-dJTreL {
  background-color: var(--bon-jour);
  border-radius: 20px;
  height: calc(100.00% - 71px);
  left: 0px;
  position: absolute;
  top: 71px;
  width: 100%;
}

.notification .icon-feather-arrow-left-dJTreL {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 3px;
  position: absolute;
  top: 7px;
  width: 21px;
}

.notification .path-116-Pm3WhO {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.notification .path-117-Pm3WhO {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 13px;
}
