/* screen - plus-button-on-front-page-1 */

.plus-button-on-front-page-1 {
  background-color: var(--white);
  height: 867px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 428px;
}

.plus-button-on-front-page-1 .rectangle-156-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 0px 0px 15px 15px;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 428px;
}

.plus-button-on-front-page-1 .my-health-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .activities-C61RwL {
  background-color: transparent;
  height: auto;
  left: 235px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .icon-material-cancel-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 25px;
}

.plus-button-on-front-page-1 .reminders-for-you-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 115px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .blood-glucose-C61RwL {
  background-color: transparent;
  height: 268px;
  left: 22px;
  position: absolute;
  top: 296px;
  width: 384px;
}

.plus-button-on-front-page-1 .rectangle-158-AsLcWN {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  box-shadow: 0px 10px 6px #00000029;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plus-button-on-front-page-1 .vital-measurement-AsLcWN {
  background-color: transparent;
  height: 30px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 196px;
}

.plus-button-on-front-page-1 .glucose-meter-AsLcWN {
  background-color: transparent;
  height: 50px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 50px;
}

.plus-button-on-front-page-1 .x-AsLcWN {
  background-color: transparent;
  bottom: -5px;
  height: 188px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.plus-button-on-front-page-1 .icon-feather-plus-square-AsLcWN {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 0px;
  top: 22px;
  width: 27px;
}

.plus-button-on-front-page-1 .path-221-xgZBI4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
}

.plus-button-on-front-page-1 .path-222-xgZBI4 {
  background-color: transparent;
  height: 13px;
  left: 50.00%;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 1px;
}

.plus-button-on-front-page-1 .path-223-xgZBI4 {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% - 6px);
  object-fit: cover;
  position: absolute;
  top: 50.00%;
  width: 13px;
}

.plus-button-on-front-page-1 .keep-a-tab-on-all-yo-AsLcWN {
  background-color: transparent;
  height: 43px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(27.78% - 12px);
  white-space: nowrap;
  width: calc(100.00% - 79px);
}

.plus-button-on-front-page-1 .blood-glucose-VMr6Om {
  background-color: transparent;
  height: 122px;
  left: 22px;
  position: absolute;
  top: 448px;
  width: 384px;
}

.plus-button-on-front-page-1 .rectangle-157-UXyF3K {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  box-shadow: 0px 10px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plus-button-on-front-page-1 .general-physical-exercise-UXyF3K {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: 30px;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 260px;
}

.plus-button-on-front-page-1 .remind-yourself-to-s-UXyF3K {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(23.81% - 9px);
  height: 38px;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 278px;
}

.plus-button-on-front-page-1 .icon-feather-plus-square-UXyF3K {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 0px;
  top: 8px;
  width: 27px;
}

.plus-button-on-front-page-1 .path-221-WXk6Ex {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
}

.plus-button-on-front-page-1 .path-222-WXk6Ex {
  background-color: transparent;
  height: 13px;
  left: 50.00%;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 1px;
}

.plus-button-on-front-page-1 .path-223-WXk6Ex {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% - 6px);
  object-fit: cover;
  position: absolute;
  top: 50.00%;
  width: 13px;
}

.plus-button-on-front-page-1 .blood-glucose-mzXdH9 {
  background-color: transparent;
  height: 122px;
  left: 23px;
  position: absolute;
  top: 144px;
  width: 384px;
}

.plus-button-on-front-page-1 .rectangle-157-WxRLUV {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  box-shadow: 0px 10px 10px #a1a1a1;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plus-button-on-front-page-1 .medication-WxRLUV {
  background-color: transparent;
  height: 27px;
  left: calc(21.07% - 22px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 104px;
}

.plus-button-on-front-page-1 .glucose-meter-WxRLUV {
  background-color: transparent;
  height: 43px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: calc(29.11% - 13px);
  width: 43px;
}

.plus-button-on-front-page-1 .forget-to-take-your-WxRLUV {
  background-color: transparent;
  bottom: calc(23.81% - 9px);
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: 51px;
  text-align: left;
  white-space: nowrap;
  width: 274px;
}

.plus-button-on-front-page-1 .icon-feather-plus-square-WxRLUV {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 0px;
  top: 8px;
  width: 27px;
}

.plus-button-on-front-page-1 .path-221-SWJsym {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
}

.plus-button-on-front-page-1 .path-222-SWJsym {
  background-color: transparent;
  height: 13px;
  left: 50.00%;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 6px);
  width: 1px;
}

.plus-button-on-front-page-1 .path-223-SWJsym {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% - 6px);
  object-fit: cover;
  position: absolute;
  top: 50.00%;
  width: 13px;
}

.plus-button-on-front-page-1 .health-icon-weight-i-C61RwL {
  background-color: transparent;
  height: 42px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 476px;
  width: 42px;
}

.plus-button-on-front-page-1 .rectangle-159-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  cursor: pointer;
  height: 40px;
  left: 22px;
  position: absolute;
  top: 604px;
  width: 384px;
}

.plus-button-on-front-page-1 .view-all-reminders-C61RwL {
  background-color: transparent;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 617px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .icon-ionic-ios-arrow-back-C61RwL {
  background-color: transparent;
  height: 15px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 617px;
  width: 9px;
  cursor: pointer;
}

.plus-button-on-front-page-1 .explore-on-easy-way-to-add-reminders-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 662px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .rectangle-160-C61RwL {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 15px;
  height: 159px;
  left: 22px;
  position: absolute;
  top: 696px;
  width: 384px;
}

.plus-button-on-front-page-1 .icon-feather-file-text-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 31px;
  position: absolute;
  top: 708px;
  width: 24px;
}

.plus-button-on-front-page-1 .path-224-jNr1yr {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.plus-button-on-front-page-1 .path-225-jNr1yr {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 11px;
}

.plus-button-on-front-page-1 .path-226-jNr1yr {
  background-color: transparent;
  bottom: calc(44.64% - 1px);
  height: 2px;
  left: calc(50.00% - 7px);
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.plus-button-on-front-page-1 .path-227-jNr1yr {
  background-color: transparent;
  bottom: 23.21%;
  height: 2px;
  left: calc(50.00% - 7px);
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.plus-button-on-front-page-1 .path-228-jNr1yr {
  background-color: transparent;
  height: 2px;
  left: calc(26.32% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(33.93% - 1px);
  width: 5px;
}

.plus-button-on-front-page-1 .upload-a-prescription-C61RwL {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 709px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .to-convert-them-to-reminders-C61RwL {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 725px;
  white-space: nowrap;
  width: auto;
}

.plus-button-on-front-page-1 .group-50-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 31px;
  position: absolute;
  top: 761px;
  width: 359px;
}

.plus-button-on-front-page-1 .rectangle-161-DxAYkY {
  background-color: var(--shocking);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plus-button-on-front-page-1 .take-a-picture-DxAYkY {
  background-color: transparent;
  bottom: calc(36.36% - 7px);
  height: 19px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.plus-button-on-front-page-1 .icon-feather-camera-DxAYkY {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 4px;
  width: 25px;
}

.plus-button-on-front-page-1 .path-229-m6iyTL {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
  cursor: pointer;
}

.plus-button-on-front-page-1 .path-230-m6iyTL {
  background-color: transparent;
  bottom: 2px;
  height: 14px;
  left: calc(50.00% - 7px);
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.plus-button-on-front-page-1 .group-51-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 31px;
  position: absolute;
  top: 812px;
  width: 359px;
}

.plus-button-on-front-page-1 .rectangle-161-Hjsg7h {
  background-color: var(--shocking);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plus-button-on-front-page-1 .upload-a-file-Hjsg7h {
  background-color: transparent;
  bottom: calc(45.45% - 9px);
  height: 19px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 86px;
}

.plus-button-on-front-page-1 .icon-awesome-upload-Hjsg7h {
  background-color: transparent;
  height: 21px;
  object-fit: cover;
  position: absolute;
  right: 14px;
  top: 3px;
  width: 19px;
  cursor: pointer;
}
.plus-button-on-front-page-1 .icon-awesome-upload-Hjsg7h1 {
  background-color: transparent;
  height: 21px;
  object-fit: cover;
  position: absolute;
  /* right: 14px; */
  margin-left: 280px;
  top: 3px;
  width: 19px;
  cursor: pointer;
}

.plus-button-on-front-page-1 .path-231-C61RwL {
  background-color: transparent;
  height: 3px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 130px;
}

.plus-button-on-front-page-1 .icon-feather-arrow-left-C61RwL {
  background-color: transparent;
  height: 21px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 21px;
}

.plus-button-on-front-page-1 .path-237-d9Ofuj {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.plus-button-on-front-page-1 .path-238-d9Ofuj {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 13px;
}
