/* screen - terms-conditions-2 */

.terms-conditions-2 {
  background-color: var(--white);
  height: 1995px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 428px;
}

.terms-conditions-2 .end-of-page-C61RwL {
  background-color: transparent;
  height: 163px;
  left: 0px;
  position: absolute;
  top: 1833px;
  width: 427px;
}

.terms-conditions-2 .path-195-J9mp0v {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.terms-conditions-2 .icons-J9mp0v {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(43.75% - 77px);
  top: calc(31.32% - 7px);
  width: 175px;
}

.terms-conditions-2 .icon-awesome-facebook-rK9zPE {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 20px;
}

.terms-conditions-2 .icon-awesome-twitter-rK9zPE {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: calc(26.85% - 6px);
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 22px;
}

.terms-conditions-2 .icon-awesome-instagram-rK9zPE {
  background-color: transparent;
  height: calc(100.00% - 1px);
  object-fit: cover;
  position: absolute;
  right: calc(45.54% - 9px);
  top: 1px;
  width: 20px;
}

.terms-conditions-2 .icon-awesome-linkedin-in-rK9zPE {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(21.07% - 4px);
  top: 0px;
  width: 21px;
}

.terms-conditions-2 .icon-feather-youtube-rK9zPE {
  background-color: transparent;
  bottom: 1px;
  height: 14px;
  position: absolute;
  right: 0px;
  width: 20px;
}

.terms-conditions-2 .path-196-PKAtQC {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.terms-conditions-2 .path-197-PKAtQC {
  background-color: transparent;
  bottom: calc(49.70% - 4px);
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: calc(45.56% - 3px);
  width: 7px;
}

.terms-conditions-2 .terms-and-conditions-J9mp0v {
  background-color: transparent;
  bottom: calc(39.06% - 7px);
  height: 19px;
  left: calc(36.18% - 48px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 134px;
}

.terms-conditions-2 .privacy-policy-J9mp0v {
  background-color: transparent;
  bottom: calc(39.06% - 7px);
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(25.00% - 21px);
  text-align: left;
  white-space: nowrap;
  width: 83px;
}

.terms-conditions-2 .copyright-2022a-ll-rights-reserved-J9mp0v {
  background-color: transparent;
  bottom: calc(22.04% - 4px);
  color: var(--bon-jour);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(45.53% - 82px);
  text-align: left;
  white-space: nowrap;
  width: 181px;
}

.terms-conditions-2 .span0-Bl8xL8 {
}

.terms-conditions-2 .span1-Bl8xL8 {
}

.terms-conditions-2 .span2-Bl8xL8 {
}

.terms-conditions-2 .span3-Bl8xL8 {
}

.terms-conditions-2 .group-28-C61RwL {
  background-color: transparent;
  height: 127px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 428px;
}

.terms-conditions-2 .terms-conditions-NRAddl {
  background-color: transparent;
  color: var(--heavy-metal);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.59% - 91px);
  text-align: left;
  top: calc(36.64% - 10px);
  white-space: nowrap;
  width: 184px;
}

.terms-conditions-2 .rectangle-138-NRAddl {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: calc(100.00% - 25px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.terms-conditions-2 .icon-feather-arrow-left-NRAddl {
  background-color: transparent;
  height: 21px;
  left: 24px;
  position: absolute;
  top: calc(29.35% - 6px);
  width: 21px;
}

.terms-conditions-2 .path-193-FpmU4d {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.terms-conditions-2 .path-194-FpmU4d {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 13px;
}

.terms-conditions-2 .download-removebg-preview-7-NRAddl {
  background-color: transparent;
  bottom: calc(30.35% - 9px);
  height: 29px;
  object-fit: cover;
  position: absolute;
  right: calc(17.29% - 5px);
  width: 29px;
}

.terms-conditions-2 .download-removebg-preview-6-NRAddl {
  background-color: transparent;
  bottom: calc(31.12% - 8px);
  height: 25px;
  object-fit: cover;
  position: absolute;
  right: 32px;
  width: 25px;
}

.terms-conditions-2 .medose-logo-final-png-NRAddl {
  background-color: transparent;
  bottom: 0px;
  height: 88px;
  left: 10px;
  margin-right: 20px;
  object-fit: cover;
  position: absolute;
  width: 147px;
}

.terms-conditions-2 .erms-and-condition-text-C61RwL {
  background-color: transparent;
  height: 1725px;
  left: 22px;
  position: absolute;
  top: 102px;
  width: 367px;
}

.terms-conditions-2 .this-document-is-an-XkoCp4 {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-an-DK0afd {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-an-vhBEpY {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 98px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-an-quVZUC {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-an-MdwnFT {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 198px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-an-JyV5Fg {
  background-color: transparent;
  height: 47px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 248px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}

.terms-conditions-2 .this-document-is-pub-XkoCp4 {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(18.55% - 12px);
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.terms-conditions-2 .this-document-is-pub-DK0afd {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(27.23% - 18px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-vhBEpY {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(31.51% - 21px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-quVZUC {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(35.86% - 24px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-MdwnFT {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(40.20% - 27px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-JyV5Fg {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(44.48% - 30px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-oJFDfa {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(48.82% - 33px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-rbsLu4 {
  background-color: transparent;
  bottom: calc(46.83% - 31px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-kEa0W4 {
  background-color: transparent;
  bottom: calc(42.55% - 29px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-3DxRRp {
  background-color: transparent;
  bottom: calc(38.21% - 26px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-bLaCBX {
  background-color: transparent;
  bottom: calc(33.87% - 23px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-5k6csl {
  background-color: transparent;
  bottom: calc(29.58% - 20px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-oax2xy {
  background-color: transparent;
  bottom: calc(25.24% - 17px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-Xre5eN {
  background-color: transparent;
  bottom: calc(20.90% - 14px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-WBycFx {
  background-color: transparent;
  bottom: calc(16.74% - 11px);
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-yPixl6 {
  background-color: transparent;
  bottom: 200px;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-iKHx3x {
  background-color: transparent;
  bottom: 136px;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-7cQeCi {
  background-color: transparent;
  bottom: -4px;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-T7GUrx {
  background-color: transparent;
  bottom: 66px;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .this-document-is-pub-UxY5LY {
  background-color: transparent;
  height: 67px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(22.89% - 15px);
  white-space: nowrap;
  width: 100%;
}

.terms-conditions-2 .icon-feather-menu-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 12px;
  left: 24px;
  position: absolute;
  top: 70px;
  width: 17px;
}

.terms-conditions-2 .path-203-s58X9h {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: calc(100.00% + 2px);
}

.terms-conditions-2 .path-204-s58X9h {
  background-color: transparent;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.terms-conditions-2 .path-205-s58X9h {
  background-color: transparent;
  bottom: -1px;
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 2px);
}
